# Tableau Citi Bike Tripdata (Jersey City)

## Data Merge 2018-2019

In [17]:
# Add dependencies
import glob
import pandas as pd

In [18]:
# https://kadekillary.work/post/csvs-pandas/
# glob.glob('data*.csv') - returns List[str]
# pd.read_csv(f) - returns pd.DataFrame()
# for f in glob.glob() - returns a List[DataFrames]
# pd.concat() - returns one pd.DataFrame()
merge_tripdata = pd.concat([pd.read_csv(f) for f in glob.glob('csv/*.csv')], ignore_index = True)

In [19]:
merge_tripdata.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [20]:
merge_tripdata.count()

tripduration               758839
starttime                  758839
stoptime                   758839
start station id           758839
start station name         758839
start station latitude     758839
start station longitude    758839
end station id             758839
end station name           758839
end station latitude       758839
end station longitude      758839
bikeid                     758839
usertype                   758839
birth year                 758839
gender                     758839
dtype: int64

In [21]:
# Export to csv
merge_tripdata.to_csv("merged_data/merge_tripdata.csv")